*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    list-style: none;
}
body,html{
    font-family: "Inter", sans-serif;
    font-size: 10px;
    
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}