$color-primary: #F8B653;
$color-black: #000;
$color-white: #fff;
$color-sub:#d46762;

//register
$color-register: #AE18E2;
$checked:#ccc;

//detail
$prod-desc: #140101;
$size-btn:#EDF9EE;
$text-size:#1E1D1D;
$color-price:#FC0303;
$color-quantity:#FFFCFC;

//cart
$color-pri: #007bff;
$color-secondary: #6c757d;
$color-hover: #0056b3;
$color-text: #333;
$color-background: #f8f9fa;
$color-border: #ddd;
