<div class="header">
    <div class="container">
        <div class="navi-top">
            <div class="logo">
                    <img src="/assets/img/logo.png" alt="logo_top">
            </div>
            <div class="login">
                <i class="fa-solid fa-cart-plus"></i>
                <a href="#">Login</a>
                <a href="#">Register</a>
                <i class="fa-solid fa-bars" id="bars"></i>

            </div>
        </div>
        <div class="navi-bottom">
            <div class="menu">
                <a href="#" class="active">Home</a>
                <a href="#">Menu</a>
                <a href="#">Woman</a>
                <a href="#">Kid</a>
                <a href="#">Sport</a>
            </div>
            
        </div>
    </div>
</div>
<script src="/assets/js/header.js"></script>
