* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  list-style: none;
}

body, html {
  font-family: "Inter", sans-serif;
  font-size: 10px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header .container .navi-top {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  padding: 10px 20px;
}
.header .container .navi-top .logo img {
  width: 116px;
  height: 32px;
}
.header .container .navi-top .login {
  font-weight: bold;
  display: flex;
  gap: 25px;
  align-items: center;
}
.header .container .navi-top .login i {
  color: #fff;
  font-size: 15px;
}
.header .container .navi-top .login a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}
.header .container .navi-top .login #bars {
  display: none;
}
.header .container .navi-bottom .menu {
  display: flex;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  padding: 20px;
}
.header .container .navi-bottom .menu a {
  text-decoration: none;
  margin-right: 25px;
  position: relative;
  transition: all 0.5s;
  color: #000;
}
.header .container .navi-bottom .menu a:hover::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background-color: black;
}
.header .container .navi-bottom .menu a.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background-color: black;
}
@media screen and (max-width: 768px) {
  .header .container .navi-top .login #bars {
    display: block;
  }
  .header .container .navi-bottom {
    display: flex;
    justify-content: flex-end;
    text-align: center;
  }
  .header .container .navi-bottom .menu {
    flex-direction: column;
    width: 100px;
    padding: 0;
    align-items: center;
    justify-content: end;
  }
  .header .container .navi-bottom .menu a {
    margin-right: 0;
    width: -moz-max-content;
    width: max-content;
  }
}

.product-detail {
  padding-top: 20px;
  padding-bottom: 40px;
}
.product-detail .container {
  display: flex;
}
.product-detail .container .detail-left {
  flex: 1;
}
.product-detail .container .detail-left img {
  width: 100%;
  border-radius: 8px;
  padding-left: 50px;
  padding-right: 0px;
}
.product-detail .container .detail-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-left: 20px;
}
.product-detail .container .detail-right .prod-name {
  font-size: 16px;
  line-height: 19.36px;
  font-weight: bold;
  color: #000000;
}
.product-detail .container .detail-right .prod-desc {
  font-size: 1.2rem;
  color: #140101;
  width: 50%;
}
.product-detail .container .detail-right .size h3 {
  font-size: 1.5rem;
  color: #1ed90e;
}
.product-detail .container .detail-right .size #size-buttons {
  display: flex;
  gap: 10px;
}
.product-detail .container .detail-right .size #size-buttons button {
  background-color: #EDF9EE;
  color: #1E1D1D;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}
.product-detail .container .detail-right .size #size-buttons button:hover {
  border: 2px solid #AE18E2;
}
.product-detail .container .detail-right .size #size-buttons button.selected {
  background-color: #AE18E2;
  color: #fff;
}
.product-detail .container .detail-right .prod-price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #FC0303;
}
.product-detail .container .detail-right .quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}
.product-detail .container .detail-right .quantity .btn-dec,
.product-detail .container .detail-right .quantity .btn-inc {
  width: 30px;
  height: 30px;
  font-size: 2rem;
  background: linear-gradient(to right, #7c97f5, #7c97f5);
  color: #FFFCFC;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
.product-detail .container .detail-right .quantity .btn-dec:hover,
.product-detail .container .detail-right .quantity .btn-inc:hover {
  background: linear-gradient(to right, #4d71f1, #4d71f1);
  border: 1px solid #AE18E2;
}
.product-detail .container .detail-right .quantity input {
  width: 20px;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  padding: 5px;
}
.product-detail .container .detail-right .btncart {
  width: 25%;
  background: linear-gradient(to right, #d017ee 0%, #3e20f8 90%);
  border: none;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s;
}
.product-detail .container .detail-right .btncart:hover {
  background: linear-gradient(to right, #aa0ec4 0%, #2507de 90%);
}
.product-detail .container .detail-right .btncart a {
  color: #fff8f8;
  font-size: 1.5rem;
  text-decoration: none;
}

.product .container .title {
  font-family: Inter;
  font-size: 40px;
  font-weight: 400;
  line-height: 48.41px;
  text-align: center;
  margin-bottom: 100px;
}
.product .container .card {
  border: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.product .container .card .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f8f8f8;
  width: 100%;
}
.product .container .card .item img {
  width: 220px;
  height: 156px;
  margin: 0 auto;
}
.product .container .card .item h1 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 300;
  line-height: 30.05px;
  padding-left: 15px;
}
.product .container .card .item a {
  color: #000000;
  text-decoration: none;
  font-family: Inter;
  font-size: 15px;
  font-weight: 300;
  line-height: 24.2px;
  padding-left: 15px;
}
.product .container .card .item .item_bot {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.product .container .card .item .item_bot button {
  width: 55%;
  padding: 15px 20px;
  background-color: #e1b067;
  font-weight: 600px;
}
.product .container .card .item .item_bot p {
  width: 45%;
  margin: auto;
  padding: 15px 20px;
  background-color: #dedddc;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
}

.footer .container {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}
.footer .container .footer1 {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f8f8f8;
}
.footer .container .footer1 .bottom {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  padding-left: 150px;
}
.footer .container .footer1 .bottom .h1 {
  margin-bottom: 10px;
}
.footer .container .footer1 .bottom a {
  color: #000000;
  margin-bottom: 5px;
}
.footer .container .footer1 .bottom .button {
  color: palevioletred;
}
.footer .container .footer2 {
  display: flex;
  justify-content: center;
  background-color: #dedddc;
  padding: 20px 0;
}
.footer .container .footer2 .bottom {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  padding-left: 150px;
}
.footer .container .footer2 .bottom .h1 {
  margin-bottom: 10px;
}
.footer .container .footer2 .bottom p {
  margin-bottom: 5px;
}
.footer .container .footer2 .bottom .button {
  color: palevioletred;
}/*# sourceMappingURL=detail.css.map */